<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <%- include('../partials/navbar') %>
    
    <!-- Flash Messages -->
    <%- include('../partials/flash-messages') %>
    
    <!-- Main Content -->
    <main>
        <%- body %>
    </main>
    
    <%- include('../partials/footer') %>
    <%- include('../partials/scripts') %>
</body>
</html>